<div class="uploade-item">
  <form action="/store" method="post">
    <input type="checkbox" checked="checked" />
    <a href="<%= cache_name %>"><%= cache_name %></a>
    <input type="hidden" name="Filedata_cache" id="cache-upload-file" value="<%= cache_name %>" />
    <input type="submit" value="store" />
  </form>
</div>
